/* table, th, td { */
/*     border: 1px solid black; */
/* } */


table {
    border-top: 2.5px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

thead>tr {
    border-bottom: 1.7px solid;
}
